<div id="<%= dom_id item %>">
  <p>
    <strong>Sku:</strong>
    <%= item.sku %>
  </p>

  <p>
    <strong>Mrp:</strong>
    <%= item.mrp %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item.quantity %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= item.discount %>
  </p>

  <p>
    <strong>Net price:</strong>
    <%= item.net_price %>
  </p>

</div>
